.page-footer {
    background-color: #2196f3 !important;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 999;
}

.app-container {
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height:100vh;
}
/*.container{*/
/*    min-height:100vh;*/
/*}*/

.navbar-expand .navbar-toggler {
    /* display: none; */
    display: block !important;
}

